/* Basic CSS styles */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    position: relative;
    top: 30%; 
    display: grid;
    justify-content: center;
    background: #ffffff;
    min-height: 100vh;
    gap: 7px;     
}

.heading{
    margin-top: 10px;
    text-align: center;
    background: #333;
    margin-right: 115px;
    margin-left: 180px;
    padding: 11px 10px 7px 1px;
}

.heading u{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
     'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* margin-bottom: 5px; */
    

}

.title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
     'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 20px;
     font-weight: 700;
     margin-left: 280px;
     margin-top: -2px;
}

.title b{
     color: rgb(6, 6, 6);
     margin-bottom: 13px;
     margin-left: 42px;
     font-size: 19px;
}

.picture img{
    box-shadow: 0px 0px 17px  rgb(29, 28, 28);
    margin-left: 300px;

}

.info{
    background: rgb(220,220,220); 
    width: 29.5%;
    padding: 10px 8px 18px 8px;
    margin-left: 300px;
    margin-bottom: 90px;

}

.topic{
    background: rgb(220,220,220); 
    width: 29.5%;
    margin-top: 8px;
    padding: 5px 8px 9px 8px;
    margin-left: 300px;
    /* line-height: 1.5; */

}
.topic a{
    color: blue;
    font-size: 9px;
}

.topic b{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
     'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: rgb(8, 8, 8);
    margin-left: 10px;

    
} 

.topic p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
     'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 9px;
    font-weight: 500;
    color: rgb(8, 8, 8);
    margin: 5px;
    margin-top: 5px;      
}

.container{
    margin-bottom: -15px;
}

.container b{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
     'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: rgb(8, 8, 8);
    margin-top: -10px;
    margin-left: 10px;
    line-height: 1.5;
}   

/* .container p{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 10px;
     color: rgb(8, 8, 8);
     margin-top: 5px;
     
} */

hr{
    width: 90%;
    margin-left: 10px;
}

.containers{
    margin-left: 5px;
}

.info-list li {
margin-top: 5px;
align-items: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
     'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 9px;
font-weight: 500;
line-height: 1.2;
margin: 10px;
}

.info-list li p{
    line-height: 1.7;
}

footer{
    height: 33px;
    background: #333;
    color: #ffffff;
    margin-right: 120px;
    margin-left: 180px;
    padding: 9px 0 0 50px;
    margin-top: -85px;
}

footer p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
     'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-weight: lighter; */
    font-size: 12px;
    margin-left: 95px;

}
