* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;


}

nav a {
    display: block;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    padding: 0.5rem;

}


/* .social-link {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.social-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
} */

/* .social-icon {
    font-size: 18px;
}  */

h1 {
    color: steelblue;
    font-size: 1.5rem;
    margin-bottom: 20px;
    /* border-bottom: 2px solid steelblue; */
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


 main {
    margin: 20px auto;
    max-width: 1300px;

}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;

} 

/* header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
} */

/* .grid {
    display: grid;
    align-items: center;
    }
    
    main {
    grid-column: 2/3;
    margin: 1rem;
    }
    
    aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    } */

p {
    padding: 0;
    margin-bottom: 15px;
    /* line-height: 1.6; */
    /* font-size: 15px; */
} 

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid  rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #eee;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */

    /* background: linear-gradient(135deg, #2c3e50 0%, #3498db 100%); */
    /* color: white; */
    color: #333;
    text-align: center;
    /* border-radius: 8px; */
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); */
}

aside img {
    width: 200px;
    height: auto;
    /* border-radius: 4px; */
    margin-bottom: 15px;

}

 aside h2 {
    /* position: absolute; */
    color: steelblue;
    margin-bottom: 15px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 1.5rem;
} 

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
    /* background: white;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
    width: 100%;
    height: auto; */
}

/* ul {
    font-size: 14px;
    background-color: #eee;
    border: 1px solid  rgba(0, 0, 0, 0.2);
    width: 300px;
    height: auto;
    padding: 15px;
    margin: 0;
} */

